{% extends "dashboardlayout.html" %}
{% set dashboard_active_page = "financials" %} 

{% block dashboard_content %}
<!-- Financial Data -->
<div class="w3-animate-right">
  <div class="btn-group fin-button-div" role="group">
      <button id="balance-btn" type="button" class="btn btn-info">Balance Sheet</button>
      <button id="income-btn" type="button" class="btn btn-outline-info">Income Statement</button>
      <button id="cashflow-btn" type="button" class="btn btn-outline-info">Cashflow Statement</button>
  </div>

  <!-- Balance Sheet Data -->
  <div id='balance-sheet' class="fin-data-div table-responsive w3-animate-opacity">
      <h4 class="fin-header">Balance Sheet</h4>
      <table class="table">
          <thead>
              <tr>
                  <th></th>
                  {% for data_year in fin_data['balance'] %}
                    {% for key, value in data_year.items() %}
                        {% if key == 'endDate' and key != 'maxAge' %}  
                            <th class="text-center">{{ data_year[key]['fmt'] }}</th>
                        {% endif %}
                    {% endfor %}
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
            {% for key in fin_data['balance'][0].keys() %}
                <tr>
                    {% if key != 'endDate' and key != 'maxAge' %}
                        <td>{{ key }}</td>
                        {% for data_year in fin_data['balance'] %}
                            {% if key in data_year.keys() and data_year[key]['fmt']%}  
                                <td class="text-center">{{ data_year[key]['fmt'] }}</td>
                            {% else %}
                                <td class="text-center">NAN</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
          </tbody>
      </table>
  </div>

  <!-- Income Statement Data -->
  <div id='income-statement' class="fin-data-div w3-animate-opacity">
      <h4 class="fin-header">Income Statement</h4>
      <table class="table">
        <thead>
            <tr>
                <th></th>
                {% for data_year in fin_data['income'] %}
                    {% for key, value in data_year.items() %}
                        {% if key == 'endDate' and key != 'maxAge' %}  
                            <th class="text-center">{{ data_year[key]['fmt'] }}</th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key in fin_data['income'][0].keys() %}
                <tr>
                    {% if key != 'endDate' and key != 'maxAge' %}
                        <td>{{ key }}</td>
                        {% for data_year in fin_data['income'] %}
                            {% if key in data_year.keys() and data_year[key]['fmt']%}  
                                <td class="text-center">{{ data_year[key]['fmt'] }}</td>
                            {% else %}
                                <td class="text-center">NAN</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <!-- Cashflow Statement Data -->
  <div id='cashflow-statement' class="fin-data-div w3-animate-opacity">
      <h4 class="fin-header">Cashflow Statement</h4>
      <table class="table">
        <thead>
            <tr>
                <th></th>
                {% for data_year in fin_data['cashflow'] %}
                    {% for key, value in data_year.items() %}
                        {% if key == 'endDate' and key != 'maxAge' %}  
                            <th class="text-center">{{ data_year[key]['fmt'] }}</th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key in fin_data['cashflow'][0].keys() %}
                <tr>
                    {% if key != 'endDate' and key != 'maxAge' %}
                        <td>{{ key }}</td>
                        {% for data_year in fin_data['cashflow'] %}
                            {% if key in data_year.keys() and data_year[key]['fmt']%}  
                                <td class="text-center">{{ data_year[key]['fmt'] }}</td>
                            {% else %}
                                <td class="text-center">NAN</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock dashboard_content %}
