{% extends "layout.html" %} 
{% block content %}
<div class="container main-container main-container-3d">

  <!-- Login Form -->
  <div class="row wl-container">
      <h1>Welcome Back - Login</h1>
  </div>
  <div class="form-container w3-animate-right">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(for="email") }}
            {% if form.email.errors %}
              {{ form.email(class="form-control is-invalid",placeholder="Enter email") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %} 
                {{ form.email(class="form-control",placeholder="Enter email") }}
              {% endif %}
          </div>

          <div class="form-group">
            {{ form.password.label(for="password") }}
            {% if form.password.errors %}
              {{ form.password(class="form-control is-invalid",placeholder="Password") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %} 
                {{ form.password(class="form-control",placeholder="Password") }}    
              {% endif %}
          </div>
          
          <div class="form-group form-check">
              {{ form.remember(class="form-check-input")}}  
              <span>{{ form.remember.label(class="form-check-label") }}</span>
          </div>
          {{ form.submit(class="btn btn-primary") }}
          <a class="btn btn-success" href="{{ url_for('register') }}">Register</a>
      </form>
  </div>
</div>
{% endblock content %}