{% extends "layout.html" %} 
{% block content %}
<!-- Page Content -->
<div class="container main-container main-container-3d">

  <!-- Register Form -->
  <div class="row wl-container">
      <h1>Register for an account</h1>
  </div>

  <div class="form-container w3-animate-right">
      <form method="POST">
          {{ form.hidden_tag() }}

          <div class="form-group">
              {{ form.first_name.label(for="first_name") }}
              {% if form.first_name.errors %}
                {{ form.first_name(class="form-control is-invalid",placeholder="Enter First Name") }}
                <div class="invalid-feedback">
                  {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %} 
                {{ form.first_name(class="form-control",placeholder="Enter First Name") }}
              {% endif %}
          </div>

          <div class="form-group">
              {{ form.last_name.label(for="last_name") }}
              {% if form.last_name.errors %}
                {{ form.last_name(class="form-control is-invalid",placeholder="Enter Last Name") }}
                <div class="invalid-feedback">
                  {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %} 
                {{ form.last_name(class="form-control",placeholder="Enter Last Name") }}  
              {% endif %}
          </div>

          <div class="form-group">
            {{ form.email.label(for="email") }}
            {% if form.email.errors %}
              {{ form.email(class="form-control is-invalid",placeholder="Enter email") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %} 
                {{ form.email(class="form-control",placeholder="Enter email") }}
              {% endif %}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            {{ form.password.label(for="password") }}
            {% if form.password.errors %}
              {{ form.password(class="form-control is-invalid",placeholder="Password") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %} 
                {{ form.password(class="form-control",placeholder="Password") }}    
              {% endif %}
          </div>

          <div class="form-group">
            {{ form.confirm_password.label(for="confirm_password") }}
            {% if form.confirm_password.errors %}
              {{ form.confirm_password(class="form-control is-invalid",placeholder="Confirm Password") }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %} 
                {{ form.confirm_password(class="form-control",placeholder="Confirm Password") }}
              {% endif %}
          </div>
          
          {{ form.submit(class="btn btn-primary") }}
          <a class="btn btn-link" href="{{ url_for('login') }}">Already have an account?</a>
      </form>
  </div>
</div>
{% endblock content %}